#myId {
  border: 2px solid indianred;
  background-color: lightgreen;
  margin: 20px;
  padding: 10px; }

h1 {
  font-weight: 700;
  color: red; }

.main {
  font-family: "Benton Sans",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",helvetica,arial,sans-serif; }

p {
  color: darkred; }

